node_modules
allure-results
/allure-results
/node_modules
reports\html-reports\master-report.html
reports/html-reports/master-report.html
reports\html-reports\
reports/html-reports/
logs
package-lock.json
tsconfig.json
wdio.conf.ts
wdio.conf.js
/logs
/package-lock.json
/tsconfig.json
/wdio.conf.ts
package-lock.json
*tsconfig.json
*wdio.conf.ts